html, body {
    height: 100%;
}

#preloader-bg {
    width: 100%;
    height: 100%;
  }

body {
    background:white;
    overflow-y: scroll;
    align-items: flex-start;
}

.timetable .time-entry {
  cursor: pointer;
}

.main-container {
  padding:24px;
}