@font-face {
  font-family: 'Akrobat Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Akrobat Regular'), url('../fonts/Akrobat-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Akrobat Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Akrobat Bold'), url('../fonts/Akrobat-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Akrobat ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: local('Akrobat ExtraLight'), url('../fonts/Akrobat-ExtraLight.woff') format('woff');
}

/*@font-face {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu-Light'), url('../fonts/Ubuntu-Light.woff') format('woff');
}*/

html, body {
  height:100vh;
}

a {
  text-decoration: none;
}

a,p,span,h1,h2,h3,h4,h5,h6,li {
  font-family: Calibri;
  font-style: normal;
  line-height: 1.3;
  font-size: 12px;
}

button:focus {
  outline: none;
}

html {
    background: -webkit-linear-gradient(165.42deg, #181818 15.08%, #000000 90.75%);
    background: -o-linear-gradient(165.42deg, #181818 15.08%, #000000 90.75%);
    background: linear-gradient(165.42deg, #181818 15.08%, #000000 90.75%);
}

body {
  margin: 0;
  background: -webkit-linear-gradient(165.42deg, #181818 15.08%, #000000 90.75%);
  background: -o-linear-gradient(165.42deg, #181818 15.08%, #000000 90.75%);
  background: linear-gradient(165.42deg, #181818 15.08%, #000000 90.75%);
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.main-container {
  width:100%;
  height: calc(100% - 144px);
  padding:72px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

#menu {
  list-style-type: none;
  margin: 66px 0 0 -1px;
  padding: 0;
}

.menu-item a {
  font-weight: 500;
  line-height: 24px;
  font-size: 24px;
  color: white;
  padding-right: 1px;
  font-family: 'Akrobat ExtraLight';
}

.menu-item a:hover {
  border-bottom: 1px solid grey;
  padding-bottom: 3px;
  text-decoration: none;
}

.active a {
  color: #00B2CA;
}

.menu-item {
  margin-bottom: 16px;
}

/* Home page */
#left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 233px;
          flex: 0 0 233px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

#desktop-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#mobile-center {
  display: none;
}

#right-side {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 137px;
          flex: 0 0 137px;
}

#logo {
  width:100%;
}

#modal-card {
  height: 240px;
  background: #E6E9ED;
  border-right: solid #279B9B 6px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  bottom: 72px;
  left: 118px;
  width: 35vw;
  position: absolute;
  max-width: 480px;
  -webkit-transform: translateX(-150%);
      -ms-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: -webkit-transform .3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform .3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: transform .3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform .3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform .3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform .3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#modal-left {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 142px;
          flex: 0 0 142px;
}

#modal-right {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-flex:1;
      -ms-flex-positive:1;
          flex-grow:1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-close {
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
    opacity: 1;
}

.modal-close:hover {
    opacity: .7;
}

#modal-photo {
  -webkit-box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.1), 0px 0px 14px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.1), 0px 0px 14px rgba(0, 0, 0, 0.12);
  width: 158px;
  height:240px;
  margin-left:-46px;
  background-color:#000000;
  position: relative;
  bottom: 46px;
  float: left;
  background-position: center center;
  background-size: cover;
  border: solid 2px #e6e9ed;
}

#modal-info {
  padding: 3px 18px 0 0;
}

#modal-info h3 {
  font-family: Calibri;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  font-size: 24px;

  color: #000000;
}

#modal-info p{
  font-family: Calibri;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  font-size: 14px;
  color: #000000;
}

#modal-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 18px 0 0;
}

#modal-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modal-price span {
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
  font-family: 'Calibri';
  font-size: 18px;
  padding-bottom: 3px;
  color: #000000;
}

.btn {
  font-family: 'Akrobat Regular';
  font-weight: 600;
  line-height: 24px;
  font-size: 18px;
  color: #FFFFFF;
  width: 162px;
  height: 42px;
  background: -webkit-linear-gradient(14.98deg, #1D8989 2.89%, #14999C 100%);
  background: -o-linear-gradient(14.98deg, #1D8989 2.89%, #14999C 100%);
  background: linear-gradient(75.02deg, #1D8989 2.89%, #14999C 100%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: -4px;
  right: 17px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  border: none;
  cursor: pointer;
}

.btn-lined {
  border:1px solid #14999C;
  color: #14999C;
  background:transparent;
}

.btn-danger {
  background: linear-gradient(75.02deg, #F44336 2.89%, #FF5722 100%);
}


.btn:hover {
  background: -webkit-linear-gradient(14.98deg, #279B9B 2.89%, #1ABABD 100%);
  background: -o-linear-gradient(14.98deg, #279B9B 2.89%, #1ABABD 100%);
  background: linear-gradient(75.02deg, #279B9B 2.89%, #1ABABD 100%);
  color:#FFFFFF;
}

.btn:active {
  background: -webkit-linear-gradient(14.98deg, #00CCDB 2.89%, #00B6BA 100%);
  background: -o-linear-gradient(14.98deg, #00CCDB 2.89%, #00B6BA 100%);
  background: linear-gradient(75.02deg, #00CCDB 2.89%, #00B6BA 100%);
  color:#FFFFFF;
}

.btn a{
  font-family: 'Akrobat Regular';
  font-weight: 600;
  line-height: 24px;
  font-size: 18px;
  color: #FFFFFF;
}

.btn-lined a{
  color: #14999C;
}


.btn a:hover{
  text-decoration: none;
}

#modal-additional {
  padding: 6px 0 12px;
  font-size: 12px;
  line-height: normal;
}

#modal-notification {
  z-index:2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32vw;
  height: 11vh;
  border-radius: 6px;
  font-size: 20px;
  line-height: 1.4;
  background-color: #000000c9;
  position: absolute;
  left: 50%;
  top: 50%;
  font-family: 'Calibri';
  color: white;
  padding: 24px;
  transform: translate(-50%, -50%);
  opacity:0;
  display: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  min-width: 240px;
}

/* SVG flying effect */
@-webkit-keyframes fly-animation {
  0%   { transform: translateY(0) rotate(0deg); }
  50% { transform:translateY(-1%) rotate(0.01deg) }
  100%   { transform: translateY(0) rotate(0deg); }
}
@-moz-keyframes fly-animation {
  0%   { transform: translateY(0) rotate(0deg); }
  50% { transform:translateY(-1%) rotate(0.01deg) }
  100%   { transform: translateY(0) rotate(0deg); }
}
@-o-keyframes fly-animation {
  0%   { transform: translateY(0) rotate(0deg); }
  50% { transform:translateY(-1%) rotate(0.01deg) }
  100%   { transform: translateY(0) rotate(0deg); }
}
@keyframes fly-animation {
  0%   { transform: translateY(0) rotate(0deg); }
  50% { transform:translateY(-1%) rotate(0.01deg) }
  100%   { transform: translateY(0) rotate(0deg); }
}

#main-svg {
  width:100%;
  height:auto;
  -webkit-transition: all 4s ease;
  -o-transition: all 4s ease;
  transition: all 4s ease;
   -webkit-animation: fly-animation 4s infinite; /* Safari 4+ */
  -moz-animation:    fly-animation 4s infinite; /* Fx 5+ */
  -o-animation:      fly-animation 4s infinite; /* Opera 14+ */
  animation:         fly-animation 4s infinite; /* IE 10+, Fx 29+ */
}

#offers {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#offers li {
  margin-bottom: 8px;
}

#offers li a{
  color:white;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  border-bottom: 1px dashed grey;
  padding-bottom: 3px;
  font-family:'Akrobat ExtraLight';
}

#offers li a:hover {
  color: #00B2CA;
  border-color:#00B2CA;
}

.offers-hovered {
  color: #00B2CA !important;
  border-color:#00B2CA !important;
}

/* Calendar-page */

.left-side-calendar {
  margin-right:30px;
}

#calendar-manage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

#filter-events h3{
  font-weight: 300;
  font-size: 24px;
  color: white;
  margin-top: 24px;
  font-family: 'Calibri';
}

.checkbox-group {
  position: relative;
  margin: 12px 0;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 18px;

  color: #FFFFFF;
}

.fc-state-default.fc-corner-left,.fc-corner-right {
  background-color: #0000;
  border: none;
  color: white;
  border-radius: 0;
  background-image: unset;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  padding: 0;
}

.fc-icon-left-single-arrow {
  background: -webkit-gradient(linear, left top, right top, color-stop(33%, #FFFFFF1A), color-stop(66%, #FFF9), to(#FFF));
  background: -webkit-linear-gradient(left, #FFFFFF1A 33%, #FFF9 66%, #FFF);
  background: -o-linear-gradient(left, #FFFFFF1A 33%, #FFF9 66%, #FFF);
  background: linear-gradient(90deg, #FFFFFF1A 33%, #FFF9 66%, #FFF);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FFF;
}

.fc-state-hover .fc-icon-left-single-arrow {
  background: -webkit-gradient(linear, left top, right top, color-stop(33%, #FFF3), color-stop(66%, #FFFFFFB3), to(#FFF));
  background: -webkit-linear-gradient(left, #FFF3 33%, #FFFFFFB3 66%, #FFF);
  background: -o-linear-gradient(left, #FFF3 33%, #FFFFFFB3 66%, #FFF);
  background: linear-gradient(90deg, #FFF3 33%, #FFFFFFB3 66%, #FFF);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FFF;
}

.fc-state-hover .fc-icon-right-single-arrow {
  background: -webkit-gradient(linear, right top, left top, color-stop(33%, #FFF3), color-stop(66%, #FFFFFFB3), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF3 33%, #FFFFFFB3 66%, #FFF);
  background: -o-linear-gradient(right, #FFF3 33%, #FFFFFFB3 66%, #FFF);
  background: linear-gradient(270deg, #FFF3 33%, #FFFFFFB3 66%, #FFF);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FFF;
}

.fc-icon-right-single-arrow {
  background: -webkit-gradient(linear, right top, left top, color-stop(33%, #FFFFFF1A), color-stop(66%, #FFF9), to(#FFF));
  background: -webkit-linear-gradient(right, #FFFFFF1A 33%, #FFF9 66%, #FFF);
  background: -o-linear-gradient(right, #FFFFFF1A 33%, #FFF9 66%, #FFF);
  background: linear-gradient(270deg, #FFFFFF1A 33%, #FFF9 66%, #FFF);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FFF;
}

.fc-icon-left-single-arrow::before {
  content: "\1f860";
  font-weight: 400;
  font-size: 75%;
/*  top: 3px;*/
  /*position: relative;*/
  padding-right: 5px;
  padding-top: 2px;
}

.fc-icon-left-single-arrow::after {
  content: "";
}

.fc-icon-right-single-arrow::before {
  content: "";
}

.fc-icon-right-single-arrow::after {
  content: "\1f862";
  font-weight: 400;
  font-size: 75%;
  top: 3px;
  position: initial;
  padding-left: 5px;
  padding-top: 2px;
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

.fc-icon {
  height: auto;
  line-height: auto;
  font-size: 24px;
  font-family: 'Akrobat Regular';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -10px;
}

.fc-state-hover {
  cursor:pointer;
}

#calendar-center {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fc-left h2 {
  font-family: 'Akrobat Regular';
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
}

#calendar {
  color: white;
}

.fc table {
  border-collapse: separate;
  border-spacing: 1px;
}

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
  border-color: #ddd0;
}

.fc-widget-content {
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.2);
}

.fc th, .fc-basic-view td.fc-week-number, .fc-icon, .fc-toolbar {
    text-align: right;
}

.fc-other-month {
  background-color: rgba(0, 0, 0, 0) !important;
}

.fc-unthemed td.fc-today {
    background: #0006;
}

.fc-title, .fc-time {
  font-family: Calibri;
}

.fc-day-header span{
  font-size: 18px;
  padding-right: 2px;
}

.fc-day-grid-event .fc-content {
  white-space: normal;
}

.fc-basic-view .fc-day-number, .fc-basic-view .fc-week-number {
  padding-right: 6px;
}

.fc-day-grid-event {
  background-color: #fff0 !important;
}

/* Contacts page */
#map {
  position: absolute;
  z-index: 0;
  top: -72px;
  left: -72px;
  width: calc(100vw + 72px);
  height: calc(100vh + 72px);
}

#left-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-size: 18px;
  font-family: 'Calibri';
}

.contact-item {
  margin-top: 12px;
}

#marker {
  width:100px;
  height:100px;
}

@media (max-width: 1100px) {
  .main-container {
      height: calc(100% - 48px);
      padding: 24px;
  }

  #modal-card {
    bottom: 24px;
    left: 70px;
    width: 42vw;
  }
}

/* Booking-picker customization */
.timetable .time-entry {
  border: 1px solid #ec6a5e;
  background-color: #ec6a5e;
}

/* .timetable {
  max-height: 300px;
  overflow: auto;
} */

/* ::-webkit-scrollbar{
    width:4px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: rgba(0,0,0,.8);
    background-color: rgba(0,0,0,.8);
    border-radius:4px;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: rgba(0,0,0,1);
    background-color: rgba(0,0,0,1);
}

::-webkit-scrollbar-track{
    border-width:0;
    background-color: rgba(255,255,255,.1);
} */

