#modal-form-wrapper{
	position:absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, 0.6);
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-style: 'Ubuntu';
	z-index: 10;
	opacity: 0;
	-webkit-transform: translateY(-200%);
	    -ms-transform: translateY(-200%);
	        transform: translateY(-200%);
}

#modal-consoles-wrapper {
	position:absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, 0.6);
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-style: 'Ubuntu';
	z-index: 10;
}

.booking-container {
	display: flex;
	width: 80vw;
	flex-direction: column;
}

#modal-form, .booking-container {
	background-color:#FDFFFC;
	min-height: 517px;
	border-right: solid #279B9B 6px;
	position: relative;
	padding: 72px;
}

#modal-form h3, #modal-form h3 span, #modal-form p, #modal-form p span {
	font-size: 18px;
}

#form-title {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: normal;
	line-height: 24px;
	font-size: 30px;
}

.form-group {
  position: relative;
  margin: 24px 0;
  width: 100%;
}

.form-inline {
	position: relative;
	margin: 24px 0;
	max-width: 30%;
}

.form-column {
	width:40%;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.form-time {
	width: 42%;
}

.form-wide {
    width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.form-action {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.form-detail {
	-webkit-box-flex:1;
	    -ms-flex:1;
	        flex:1;
}

#booking, #event-booking {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width:516px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font-family: ubuntu;
}

/* UiKit customization */
.uk-dropdown {
    background: #fff;
    color: #444;
}

.uk-dropdown, .uk-dropdown-blank {
    width: auto;
}

.uk-button {
    width: 100%;
    text-align: left;
}

#form-message {
	width: 100%;
}

#form-offer {
	width: 100%;
}

#form-number {
	width: 100%;
}